.App {
  text-align:center;
  font:bold;
  background-color:powderblue;
}
.label{
  font-size: larger;
  padding: 10px;
  margin-right: 30px;
  color: black;
  font-weight: bolder;
}


.btn{
  color: white;
  background-color: red;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;

}

.messages{

  display: flex;
  justify-content: center;

}

.error{
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;

}
.success {
  display: block;
  background-color: greenyellow;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
}
.input{
  font-size: larger;
  font-style:oblique;
  padding: 5px;
  margin-top: 10px;
  background-color: lightpink;
  width: 378px;

}

.btn1{
  color: white;
  background-color: rgb(133, 131, 131);
  border-radius: 50px;
  font-size: larger;
  padding: 5px;
  margin: 10px auto;
  display: inline;
  width: 400px;
  margin-top: 80px;
}

.btn2{
  color: white;
  background-color:indianred;
  border-radius: 50px;
  font-size: larger;
  padding: 5px;
  margin: 10px auto;
  display: inline;
  width: 400px; 
  margin-top: 80px;
  
}

.dropdown {
  border: 0 none;
  color: black;
  background: lightpink;
  font-size: 20px;
  font-weight: bold;
  padding: 2px 10px;
  margin-top: 10px;
  width: 378px;
  *width: 350px;
  *background: #58B14C;
  margin-left: 5px;
}
